dipy>=1.11.0
filelock>=3.0.12
hopla==1.0.5
joblib>=0.13.2
matplotlib>=3.8.0
networkx>=3.1
nilearn>=0.11.1
nibabel>=1.1.0
nipype>=1.0.1
numpy>=1.11.0
progressbar2>=4.5.0
setuptools==66
wheel==0.38.4
pyconnectome>=1.0.0
pyconnectomist>=2.0.0
pydcmio>=2.0.2
pyfreesurfer>=1.2.0
scipy>=0.17.0
transforms3d>=0.3.1 
torch>=2.7.0
torchvision>=0.22.0
